* {
	margin:auto;

}

body {
	background-color: #CBDCDF;
}

.header {
	color:#FFFFFF;
	background-color:#1C818D;
	height:125px;
}

.topline{
	display: block;
	width:100%;
	white-space: nowrap;
}

.pagetitle {
	margin:1%;
	display: inline-block;
	text-align: left;
	width: 48%;
	font-family: gill sans

}

.nav {
	direction: rtl;
	display: inline-block;
	width:47%;
	white-space: nowrap;
	text-align: right;
	font-size: 12px;
	font-family: applegothic
}

.nav a {
	text-decoration: none;
	color:#FFFFFF;
	margin-right: 3%
}

.headline {
	font-size: 34px;
	min-width: 40%;
	text-align: center;
	max-width: 500px;
	font-family: gill sans

}

.note {
	color:#7E8182;
	background-color:#CBDCDF;
	text-align: center;
	font-family: applegothic;
	padding-top: 1%
}

.bulk {
	color:#7E8182;
	background-color:#CBDCDF;
}

.inputheader {
	color:#FFFFFF;
	font-family: gill sans;
	width:250px;
	margin:2% 65% 0% 3%;
	text-align: center;
	background-color:#FF8C68;
} 

.inputbox {
	margin:0% 65% 15% 3%;
	padding:1% 0%;
	width:250px;
	background-color:#FFFFFF;
	display: block;


}

.inpname {
	display: inline-block;
	width:32%;
	white-space: nowrap;
	text-align: right;
	margin: 1% 0% 1% 3%;
	font-size: 15px;
	color:#6B6B6B;
	vertical-align: top;
	font-family: AppleGothic

}

.inpbox {
	display: inline-block;
	margin: 1%;
	width: 50%;
	text-align: left;
	color:#A9A9A9;
	font-family: Helvetica
}

#rating {
	width:auto;
	margin-right: 30%;
	color:#A9A9A9;
}

.submit {
	text-align: center;
	margin-bottom: 10%;
	font-family: arial;
}

input[type="submit"] {
	border-radius: 4px;
	background-color: #1C818D;
	color:#FFFFFF;
	text-align: center;
	border:none;
	padding:3% 3%;
}