* {
	margin:auto;
	padding:auto;

}

body {
	background-color: #CBDCDF;
}

.header {
	color:#FFFFFF;
	background-color:#1C818D;
	height:125px;
}

.topline{
	display: block;
	width:100%;
	white-space: nowrap;
}

.pagetitle {
	margin:1%;
	display: inline-block;
	text-align: left;
	width: 48%;

}

.nav {

	direction: rtl;
	margin:1% 2% 1% 1%;
	display: inline-block;
	width:47%;
	white-space: nowrap;
	text-align: right;
}

.headline {
	font-size: 34px;
	min-width: 40%;
	text-align: center;
	max-width: 500px;

}

.note {
	color:#7E8182;
	background-color:#CBDCDF;
	text-align: center;
}

.bulk {
	color:#7E8182;
	background-color:#CBDCDF;
}

.inputheader {
	color:#FFFFFF;
	min-width:300px;
	margin:2% 75% 0% 3%;
	text-align: left:;
	background-color:#FF8C68;
} 

.inputbox {
	margin:0% 75% 15% 3%;
	padding:1% 0%;
	min-width:300px;
	color:#A9A9A9;
	background-color:#FFFFFF;

}

.inpname {
	display: inline;
	width:270px;
	margin:2%;
	white-space: nowrap;
	border: dotted
}

.inpbox {
	display: inline;
	margin: 0% ;
	text-align: left;

}